{% extends 'base.html.twig' %}

{% block content %}


   <br/>
   <br/>
   <div class="deuvo_credits">

      <h3>Credits</h3>

      <h4>Scientists</h4>
      <ul>
         <li>Jean-Michel Alimi (jean-michel.alimi@obspm.fr), LUTh</li>
         <li>Yann Rasera (yann.rasera@obspm.fr), LUTh</li>
         <li>Pier-Stefano Corasaniti (pier-stefano.corasaniti@obspm.fr), LUTh </li>
      </ul>

      <h4>Software Engineering</h4>
      <ul>
         <li>Jean Pasdeloup, (jean.pasdeloup@obspm.fr), LUTh</li>
      </ul>

   </div>


   <div class="logos_partners">
      <a href="http://luth.obspm.fr"><img src="{{ asset("images/LUTH.png") }}" /></a>
      <a href="http://vo-web.obspm.fr/"><img src="{{ asset("images/VOParis.png") }}" /></a>
   </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
